<div class="container w-100">
  <div>
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
  <div>
    <h2>A bit more about this flat...</h2>
    <p><%= @flat.description %></p>
  </div>
  <div>
    <h2>Details:</h2>
    <p class="container">
      <strong><i class="fa-solid fa-euro-sign"></i>
      </strong> <%= @flat.price_per_night %>
      <strong><i class="fa-solid fa-people-group"></i> </strong>
      <%= @flat.number_of_guests %>
    </p>
  </div>

  <br>

  <div class="container d-flex justify-content-between">
    <%= link_to "Back to Flats", flats_path, class: "btn btn-primary" %>
    <%= link_to "Edit Flat", edit_flat_path, class: "btn btn-warning" %>
    <%= button_to "Remove", @flat, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
